.about-container {
  text-align: center;
  padding: 50px;
}

.header {
  padding: 50px 20px;
}

.header h1 {
  font-size: 2.5em;
}

.about-content {
  background-color: #f9f9f9;
  padding: 50px 20px;
  margin: 20px 0;
}

.about-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.team-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  padding: 1em;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 1 1 30%;
  box-sizing: border-box;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}

.team-member:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.team-member img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.team-member h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.team-member p {
  font-size: 1em;
  color: #666;
}

.footer {
  background-color: #4caf50;
  color: white;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
